.page-header{
display: flex;
border-radius: 5px;
background-color: rgb(25, 25, 139);
color: whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: .5rem;
padding-left: 1rem;
}
.main{
    background-color: aqua;
}
.about-me{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgb(25, 25, 139);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: .5rem;
    padding: 1rem;
    border-radius: 5px;
}
.summary{
    display: flex;
    flex-direction: row;
    float: inline;
    justify-content: flex-start;
}

img{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    max-width: 100px;
    margin-right: 1rem;
}
h2{
    background-color: rgb(4, 19, 71);
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: .5rem;
    padding: 1rem;
    border-radius: 5px;
}
.accessibility{
    display: flex;
    flex-direction: row;
    float: inline;
    justify-content: flex flex-start ;
    margin-left: .5rem;
    border: 5px solid black;
    border-radius: 5px;
    background-color: aqua;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: .5rem;

}

.contact-info{
    display: box;
    border-radius: 5px;
    background-color: rgb(25, 25, 139);
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: .5rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-right: 1rem;
    text-align: center;
}
.contact-details{
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    text-align: center;
}

li{
margin-left: .75rem;
}
a{
    display: flexbox;
    padding-bottom: 1rem;
    color: whitesmoke;

}
a:hover{
    color:black;
}