.page-header{
display: flex;
border-radius: 5px;
background-color: rgb(25, 25, 139);
color: whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: .5rem;
padding-left: 1rem;
}
.main{
    background-color: aqua;
}

.contact-info{
    display: block;
    border-radius: 5px;
    background-color: rgb(25, 25, 139);
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: .5rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-right: 1rem;
    justify-content: center;
}
.contact-details{
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

li{
margin-left: .75rem;
}
a{
    display: flexbox;
    padding-bottom: 1rem;
    color: whitesmoke;

}
a:hover{
    color:black;
}